<div class = "center-block conteiner">


	<div id = "slide" class = "conteiner">
		<img id = "backgroundCar" src="../assets/images/car.jpg">
		<div id = "layer"  class = "conteiner  text-center">
			<div class = "row heading bold">
				<div class = "col-md-12">
					FIND YOUR PREFERED TRIP!
				</div>
			</div>
			<div class = "row buttons center-block">
				<div class = "button green" ng-click = "navigateToPostTrip()">POST NEW TRIP</div>
				<div class = "button orange ">VIEW TRIPS</div>
			</div>
		</div>
		
	</div>
	<div class = "center-block">
		<div class = "nav" id = "bottomNav"></div>
	</div>

	<div class = "conteiner list  text-center">
		<div class = "row trip">TRIPS</div>
		<div class ="listItem center-block"></div>
		<div class ="listItem center-block"></div>
		<div class ="listItem center-block"></div>
		<div class ="listItem center-block"></div>

	</div>

</div>